body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 102vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
    background: #1d1d1d;
    margin: 2px;
    transition: 1s ease;
    box-shadow: 0 0 3px #000000;
    border-radius: 10px;
}

.square:hover {
    transition-duration: 0s;
}

.click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.off {
    margin: 0 20px;
}
